[Unit]
Description=Celery Localhost Messaging Worker
After=network.target

[Service]
Type=forking
User=APP_USER
Group=APP_GROUP
SyslogIdentifier=celery-localhost
Environment=LOG_SUFFIX=celery_localhost
Environment=CELERYD_NODES="localhost@HOSTNAME"
Environment=DJANGO_SETTINGS_MODULE="settings.HOST_CLASS"
WorkingDirectory=/home/pivotal
ExecStart=/bin/sh -c '/home/pivotal/.venv/bin/celery -A celeryapp multi start worker \
  -n localhost-HOSTNAME --concurrency=4 -Q localhost --time-limit=60 \
  --logfile=/var/log/django/celery_localhost.log --pidfile=/run/celery/localhost.pid \
  --loglevel=INFO --events'
ExecStop=/bin/sh -c '/home/pivotal/.venv/bin/celery multi stopwait localhost'
ExecReload=/bin/sh -c '/home/pivotal/.venv/bin/celery multi restart localhost'
Restart=always


[Install]
WantedBy=multi-user.target