[Unit]
Description=Celery Beat %i
After=network.target

[Service]
Type=forking
User=APP_USER
Group=APP_GROUP
SyslogIdentifier=celery-beat-%i
Environment=LOG_SUFFIX=celery_beat_%i
Environment=DJANGO_SETTINGS_MODULE="settings.%i"
WorkingDirectory=/home/pivotal
ExecStart=/bin/sh -c '/home/pivotal/.venv/bin/celery beat -A celeryapp
  --logfile=/var/log/django/celery_beat_%i.log --pidfile=/run/celery/celery_beat_%i.pid \
  --no-color --loglevel=INFO'
PIDFile=/run/celery/celery_beat_%i.pid
Restart=on-failure

[Install]
WantedBy=multi-user.target
