[Unit]
Description=Celery Low Priority Worker
After=network.target

[Service]
Type=forking
User=APP_USER
Group=APP_GROUP
SyslogIdentifier=celery-low-priority
Environment=LOG_SUFFIX=celery_low_priority
Environment=CELERYD_NODES="low_priority@HOSTNAME"
Environment=DJANGO_SETTINGS_MODULE="settings.HOST_CLASS"
WorkingDirectory=/home/pivotal
ExecStart=/bin/sh -c '/home/pivotal/.venv/bin/celery -A celeryapp multi start worker \
  -n low-priority-HOSTNAME --concurrency=1 -Q low-priority --prefetch-multiplier=1 \
  --max-tasks-per-child=20 --max-memory-per-child=600000 --time-limit=14400 --soft-time-limit=12600 \
  --logfile=/var/log/django/celery_low_priority.log --pidfile=/run/celery/low_priority.pid \
  --loglevel=INFO --events'
ExecStop=/bin/sh -c '/home/pivotal/.venv/bin/celery multi stopwait low_priority'
ExecReload=/bin/sh -c '/home/pivotal/.venv/bin/celery multi restart low_priority'
Restart=always

[Install]
WantedBy=multi-user.target