[Unit]
Description=Celery Beat %i
After=network.target

[Service]
User=pivotal
Group=pivotal
EnvironmentFile=/etc/sysconfig/axis
EnvironmentFile=/etc/sysconfig/celery
Environment=DJANGO_SETTINGS_MODULE=settings.%i LOG_SUFFIX=celery_beat_%i
WorkingDirectory=/home/pivotal/axis
ExecStart=/bin/sh -c '${CELERY_BIN} beat -A ${CELERY_APP} --pidfile=/var/run/celery/celery_beat_%i.pid \
  --logfile=/var/log/celery/celery_beat_%i.log --loglevel=${CELERYBEAT_LOG_LEVEL} ${CELERYBEAT_OPTS}'
 PIDFile=/var/run/celery/celery_beat_%i.pid
 Restart=on-failure


[Install]
WantedBy=multi-user.target