[Unit]
Description=Celery Localhost Messaging Worker
After=network.target

[Service]
Type=forking
User=APP_USER
Group=APP_GROUP
SyslogIdentifier=celery-localhost
Environment=LOG_SUFFIX=celery_localhost
Environment=CELERYD_NODES="localhost@HOSTNAME"
EnvironmentFile=/home/pivotal/.env
WorkingDirectory=/home/pivotal
ExecStart=/bin/sh -c '/home/pivotal/.venv/bin/celery multi start localhost \
  -A celeryapp --concurrency=4 -Q LOCALHOST --time-limit=60 \
  --logfile=/var/log/django/celery_localhost.log --pidfile=/run/celery/localhost.pid \
  --no-color --loglevel=INFO --events'
ExecStop=/bin/sh -c '/home/pivotal/.venv/bin/celery multi stopwait localhost'
ExecReload=/bin/sh -c '/home/pivotal/.venv/bin/celery multi restart localhost'
PIDFile=/run/celery/localhost.pid
Restart=on-failure


[Install]
WantedBy=multi-user.target