[Unit]
Description=Celery Worker
After=network.target

[Service]
Type=forking
User=pivotal
Group=pivotal
SyslogIdentifier=celery-priority
Environment=LOG_SUFFIX=celery_worker
Environment=CELERYD_NODES="worker@%h"
EnvironmentFile=/home/pivotal/.env
WorkingDirectory=/home/pivotal
ExecStart=/bin/sh -c '/home/pivotal/.venv/bin/celery multi start localhost \
  -A celeryapp --concurrency=4 -Q celery,priority --time-limit=60 \
  --logfile=/var/log/django/celery_worker.log --hostname=worker@%n \
  --pidfile=/run/celery/worker.pid --loglevel=INFO --events'
ExecStop=/bin/sh -c '/home/pivotal/.venv/bin/celery multi stopwait localhost'
ExecReload=/bin/sh -c '/home/pivotal/.venv/bin/celery multi restart localhost'
PIDFile=/run/celery/worker.pid
Restart=on-failure

[Install]
WantedBy=multi-user.target
