[Unit]
Description=Celery Localhost Messaging Worker
After=network.target

[Service]
Type=forking
User=pivotal
Group=pivotal
Environment=LOG_SUFFIX=celery_localhost
Environment=CELERYD_NODES="localhost-worker-%n@%h"
EnvironmentFile=/home/pivotal/.env
WorkingDirectory=/home/pivotal
ExecStart=/bin/sh -c '/home/pivotal/.venv/bin/celery multi start localhost \
  -A celeryapp --concurrency=4 -Q LOCALHOST --time-limit=60 \
  --loglevel=INFO --events'
ExecStop=/bin/sh -c '/home/pivotal/.venv/bin/celery multi stopwait localhost'
ExecReload=/bin/sh -c '/home/pivotal/.venv/bin/celery multi restart localhost'
PIDFile=/run/celery/localhost.pid
Restart=on-failure


[Install]
WantedBy=multi-user.target