[Unit]
Description=Celery Priority Worker
After=network.target

[Service]
Type=forking
User=APP_USER
Group=APP_GROUP
SyslogIdentifier=celery-priority
Environment=LOG_SUFFIX=celery_priority
Environment=CELERYD_NODES="priority@HOSTNAME"
EnvironmentFile=/home/pivotal/.env
WorkingDirectory=/home/pivotal
ExecStart=/bin/sh -c '/home/pivotal/.venv/bin/celery multi start priority \
  -A celeryapp --concurrency=4 -Q priority --time-limit=60 \
  --logfile=/var/log/django/celery_priority.log  \
  --pidfile=/run/celery/priority.pid --loglevel=INFO --events'
ExecStop=/bin/sh -c '/home/pivotal/.venv/bin/celery multi stopwait localhost'
ExecReload=/bin/sh -c '/home/pivotal/.venv/bin/celery multi restart localhost'
PIDFile=/run/celery/priority.pid
Restart=on-failure

[Install]
WantedBy=multi-user.target