[Unit]
Description=Celery Worker
After=network.target

[Service]
Type=forking
User=APP_USER
Group=APP_GROUP
SyslogIdentifier=celery-worker
Environment=LOG_SUFFIX=celery_worker
Environment=CELERYD_NODES="worker@HOSTNAME"
Environment=DJANGO_SETTINGS_MODULE="settings.HOST_CLASS"
WorkingDirectory=/home/pivotal
ExecStart=/bin/sh -c '/home/pivotal/.venv/bin/celery -A celeryapp multi start worker \
  -n worker-HOSTNAME --concurrency=4 -Q celery --prefetch-multiplier=1 \
  --max-tasks-per-child=20 --max-memory-per-child=600000 --time-limit=1800 --soft-time-limit=1500 \
  --logfile=/var/log/django/celery_worker.log --pidfile=/run/celery/worker.pid \
  --loglevel=INFO --events'
ExecStop=/bin/sh -c '/home/pivotal/.venv/bin/celery multi stopwait worker'
ExecReload=/bin/sh -c '/home/pivotal/.venv/bin/celery multi restart worker'
Restart=always

[Install]
WantedBy=multi-user.target
