[Unit]
Description=Node.js
After=network.target

[Service]
User=APP_USER
Group=APP_GROUP
SyslogIdentifier=node
Environment=NODE_ENV=production
Environment=PATH=/home/pivotal/.venv/bin:/usr/local/bin:/usr/bin:/usr/local/sbin:/usr/sbin
WorkingDirectory=/home/pivotal/axis/messaging/server
ExecStart=/usr/bin/node server.js
Restart=on-failure
StandardError=syslog
NotifyAccess=all

[Install]
WantedBy=multi-user.target
