[Unit]
Description=Node.js
After=network.target

[Service]
ExecStart=/bin/sh -c '${NODE_BIN} server.js'
EnvironmentFile=/etc/sysconfig/axis
EnvironmentFile=/etc/sysconfig/node
WorkingDirectory=/home/pivotal/axis/axis/messaging/server
Restart=on-failure
KillSignal=SIGQUIT
User=pivotal
Group=pivotal
StandardError=syslog
NotifyAccess=all

[Install]
WantedBy=multi-user.target
