[Unit]
Description=Load Simulation Images on Boot
After=containerd.service
Requires=containerd.service

[Service]
Type=oneshot
EnvironmentFile=/opt/containerd/.env
ExecStart=/bin/sh -c 'for IMAGE in $IMAGES; do echo "$DOCKER_TOKEN" | /usr/bin/ctr images pull --user "$DOCKER_USERNAME" $IMAGE; done'
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target